  - job_name: 'postgres_exporter {{ build_number }}'
    static_configs:
      - targets: ['{{ postgres_ip }}:9187']
        labels:
          BuildNumber: '{{ BuildNumber }}'

  - job_name: 'node_exporter {{ build_number }}'
    static_configs:
      - targets: ['{{ postgres_ip }}:9100']
        labels:
          BuildNumber: '{{ BuildNumber }}'
